.App {
  max-width: 40rem;
  margin: 0 auto;
  padding: 6% 0;
}

body {
  background-image:url(./images/star-wars-sky-background-1.jpg);
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
}

.Button {
  text-align: center;
}

button {
  background: #fac223;
  border: 5px outset #AE7600; 
  border-radius: 15px;
  cursor: pointer;
  font-size: 28px;
  margin-top: 20px;
  padding: 3vh 0;
  width: 100%;
  text-transform: uppercase;
}

.Planet-name {
  background: #fac223;
  border: 5px outset #AE7600;
  border-bottom: none;
  border-radius: 15px 15px 0 0;
  font-size: 32px;
  padding: 3vh 5vh;  
  -webkit-text-stroke: 1px black;
  color: white;
  text-shadow:
      3px 3px 0 #000,
    -1px -1px 0 #000,  
     1px -1px 0 #000,
     -1px 1px 0 #000,
      1px 1px 0 #000;
}

.Planet-info {
  background: #fff;
  border: 5px outset #AE7600;
  border-radius: 0 0 15px 15px;
  color: #000;
  font-size: 18px;
  min-height: 25vh;
  padding: 5vh 5vh;
}

.Loading {
  text-align: center;
  padding: 5vh 0;
}

.Loading img {
  width: 200px;
}

.spin {
  animation-name: spin;
  animation-duration: 4000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@-moz-keyframes spin {
  from { -moz-transform: rotate(0deg); }
  to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
  from {transform:rotate(0deg);}
  to {transform:rotate(360deg);}
}

@media (max-width: 768px) {
  .Planet-name {
    font-size: 24px;
  }

  .Planet-info {
    font-size: 18px;
    min-height: 35vh;
  }
}